CompileFlags:
  Add:
    - -I/usr/avr/include
    - -Os
    - -Wall
    - -Wextra
    - -DF_CPU=16000000UL
    - -mmcu=atmega328p
    - -ffreestanding
  Remove:
    - -m*
    - -f*
  Compiler: avr-gcc
